 .UIButtonsView{
	grid-template-rows:minmax(auto, min-content) !important;

	.card {
		section{
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
			overflow: scroll;

			& > h2{
				display: flex;
				align-items: flex-end;
				justify-content: left;
				padding: 1rem;
				border-bottom: solid 1px var(--bdr-L2);
			}
			& > div{
				padding: 1rem 0;
			}
		}
	}
	

}