<div class="UIControlsView">

	<div class="card wide">
		<header>
			<h2>Inputs</h2>
		</header>
		<section>
			<field class="empty">
				<label>Name</label>
				<input type="text">
			</field>
			<field class="">
				<label>Name</label>
				<input type="text" value="some value">
			</field>			
		</section>
	</div>

	<div class="card wide">
		<header>
			<h2>Other Controls</h2>
		</header>
		<section>
		
			<section>
				<h3>Options</h3>
				{{{options "Open:1,Close:0,Both:2" 1}}}
			</section>
		</section>
	</div>

	<div class="card wide">
			<header>
				<h2>Other Controls</h2>
			</header>
			<section>
			
				<section>
					<h3>Options</h3>
					{{{options "Open:1,Close:0,Both:2" 1}}}
				</section>
			</section>
		</div>
	
</div>