<div class="UIDialogsView">

	<div class="card wide">
		<div>
			<div class="dialog">
				<section class="message">
					{{{ico "loading"}}}
					<p>
						Some working is going on
						Some working is going on
						Some working is going on
						Some working is going on
						Some working is going on
						Some working is going on
					</p>
				</section>
				<footer>
					<button>Close</button>
				</footer>
			</div>
		</div>
	</div>
	
	<div class="card wide">
			<header><h2>Menu</h2></header>
			<section class="position:relative">
				<div class="menu">
					<div>One</div>
					<div>Two</div>
					<div>Longer Menu Item</div>
				</div>
			</section>
	</div>		
	
</div>