.UITypoView{
	/* grid-auto-flow: rows; */
	/* grid-template-columns: 1fr 1fr; */
	grid-template-rows: 1fr !important;


	.card {
		section.content{
			/* overflow: scroll;
			 */
			display: grid;
			padding: 2rem 1rem 4rem 2rem;
			grid-gap: 3rem;
			grid-template-rows: repeat(auto-fit, auto);
		}
	}
	

}