<!-- <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/views/Spec/SpecMainView.tmpl" /> -->

<div class="SpecMainView">
	<div class="tab-bar">
		{{#each paths}}
		<a href="/_spec/{{this}}">{{this}}</a>
		{{/each}}
	</div>
	<section class="content">

	</section>
</div>