@import '../../_common/pcss/main.pcss';
@import './base.pcss';
@import './vars-colors.pcss';

@import './d-ui.pcss';
@import './ui-button.pcss';
@import './ui-card.pcss';
@import './ui-dialog.pcss';
@import './ui-form.pcss';
@import './ui-list.pcss';
@import './ui-screen.pcss';
@import './ui-tab.pcss';
