<div class="HomeView screen">
	<header><h1>PROJECTS</h1></header>
	<section>
		<div class='card project-add'>
			{{{ico 'add'}}}
			<h3>Add New Project</h3>
		</div>
		<div class='card project-add'>
			{{{ico 'add'}}}
			<h3>Add New Project</h3>
		</div>	
	</section>

</div>