/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/views/Spec/SpecControlsView.pcss" /> */

.SpecControlsView{
	grid-template-rows: none !important;
	grid-template-columns: repeat(auto-fit, 30rem) !important;
	.card section{
		display: grid;
		grid-auto-rows: max-content;
		grid-row-gap: 1rem;
		overflow: auto;
		& > *{
		}
	}
}