<!-- <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/views/spec/spec-buttons.tmpl" /> -->

<div class="card wide">
	<header>
		<h1>Buttons</h1>
	</header>
	<section>

		<h2>Active</h2>
		<h2>Disabled</h2>

		<!-- Default Buttons-->
		<div>
			<a class="button" href="#buttons">button</a>
		</div>
		<div>
			<a class="button disabled">button</a>
		</div>

		<!-- Small Buttons-->
		<div>
			<a class="button small" href="#buttons">small</a>
		</div>
		<div>
			<a class="button small disabled">small</a>
		</div>


		<!-- Medium Buttons-->
		<div>
			<button class="medium">
				<c-ico>user</c-ico> Medium button
			</button>
		</div>
		<div>
			<button class="medium" disabled>Medium button</button>
		</div>

		<div>
			<button class="high">high button</button>
		</div>
		<div>
			<button class="high" disabled>high button</button>
		</div>


		<div>
			<button class="outlined">outlined button</button>
		</div>
		<div>
			<button class="outlined" disabled>outlined button</button>
		</div>

		<div>
			<button class="main-button">
				<c-ico>user</c-ico>
			</button>
		</div>

	</section>
</div>

<!-- Action Link -->


<div class="card wide">
	<header>
		<h1>Buttons</h1>
	</header>
	<section>

		<h2>Active</h2>
		<h2>Disabled</h2>

		<div>
			<div class="action-link">action-link div</div>
		</div>
		<div>
			<div class="action-link" disabled>action-link div</div>
		</div>
		<!-- Action Link -->
		<div>
			<div class="action-link small">action-link small div</div>
		</div>
		<div>
			<div class="action-link small" disabled>action-link small div</div>
		</div>
	</section>
</div>