<!-- <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/views/Spec/SpecDialogsView.tmpl" /> -->

<div class="SpecDialogsView">

	<div class="card wide">
		<section>
			<section>
				<div class="dialog" style="width: 20rem; margin: 1rem 0 0 1rem">
					<header><h2>Dialog 1</h2><c-ico class="action do-close">close</c-ico></header>
					<section class="message">
						<p>
							Some working is going on
							Some working is going on
							Some working is going on
							Some working is going on
							Some working is going on
							Some working is going on
						</p>
					</section>
					<footer>
						<button>Close</button>
					</footer>
				</div>
			</section>
			<section>
				<button class="show-dialog2">Dialog 2</button>
			</section>
		</section>
	</div>
	
	<div class="card wide">
			<header><h2>Menu</h2></header>
			<section class="position:relative">
				<c-menu>
					<div>One</div>
					<div>Two</div>
					<div>Longer Menu Item</div>
				</c-menu>
			</section>
	</div>		
	
</div>