<div class="SpecMainView">
	<div class="tab-bar">
		<a href="/_spec/typo">Typography</a>
		<a href="/_spec/cards">Cards</a>	
		<a href="/_spec/controls">Controls</a>
		<a href="/_spec/buttons">Buttons</a>
		<a href="/_spec/dialogs">Dialogs</a>
	</div>
	<section class="content">

	</section>
</div>