<!-- <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/views/Spec/SpecCardsView.tmpl" /> -->

<div class="SpecCardsView">


		<div class="card">
			<header><h2>Base Card</h2></header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>
		
		<div class="card">
			<header>
				<h2>Card With</h2>
				<h3>subtitle and footer</h3>
			</header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
			<footer class="split-2"r>
				<div>
					<button>button</button>
				</div>
				<div>
					<c-ico>user</c-ico>
					<c-ico>share</c-ico>
				</div>
			</footer>
		</div>	

		<div class="card wide">
			<header><h2>Card With Aside</h2>
				<aside><c-ico>more</c-ico></aside>
			</header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>		

		<div class="card tall wide">
			<header><h2>Card with some long content</h2></header>
			<section>
			some long content some long content some long content some long content some long content some long content 
			</section>
			<footer>Some footer</footer>
		</div>		

</div>