<div class="SpecControlsView">

	<div class="card wide">
		<header>
			<h2>Inputs</h2>
		</header>
		<section>

			<c-input label="Field Input With Value" value="Value A"></c-input>
			<c-input label="c-input without value"></c-input>
			<c-check value="true"></c-check>
		</section>
	</div>

	<div class="card wide">
		<header>
			<h2>Other Controls</h2>
		</header>
		<section>
		
			<section>
				<h3>Options</h3>
				<c-options values="Open:1,Close:0,Both:2" value="0"></c-options>
			</section>
		</section>
	</div>
	
</div>