# By Default ignore all .* (can make exception)
.*

# Include .gitignore
!.gitignore

# Include .vscode (for debugging)
!.vscode/

# ignore node things
node_modules/
npm-debug.log

# Ignore rust target
target/

# handpick with kubernetes file we would want to key
k8s/*
!k8s/
!k8s/dev/
!k8s/aws/


# Ignore package-lock.json 
# (this is debatable, but package-lock.json could pause more issues than anything else in certain scenarios)
package-lock.json

# rollup typescript error
.rpt2_cache/

# By default those files are compile output
*.js
*.css
*.map 

# Except the lib-bundle file
!src/lib-bundle.js

# ignore the dev-test.ts files, they are for personal development
test-dev.ts

# We ignore all dist folder
dist/