/* Include all mixins. This will be the mixin to import in other files. */

@import './mixins-typography.pcss';
@import './mixins-elevations.pcss';



@define-mixin fitparent{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
