
c-check{
	display: block;
	user-select: none;
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1;
	.ico-check-on {
		fill: var(--ico-prime);
	}
	svg.symbol{
		width: 100%;
		height: 100%;
	}
}