
c-ico, c-symbol{
	/* making sure that parent don't change value case, which is used as asset name */
	text-transform: none; 

	display: block;
	padding: 0;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	fill: #aaa;
	svg.symbol{
		width: 100%;
		height: 100%;
	}
}