/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-menu.pcss" /> */

@import "../_pcss/mixins-all.pcss";

/* NOTE IMPLEMENTED YET */
c-menu{


}