

/* NOTE: this is a class selector as it will be added by the dg-base-dialog base */
.dg-base-dialog{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,.3);
	.dialog{
		position: absolute;
		width: 25rem;
		top: 50%;
		left: 50%;
		margin-right: -10rem;
		margin-top: -10rem;
	}
}