<div class="DemoTypoView">
	<div class="card">
		<header><h2>Typography Headings</h2></header>
		<section class="content">
			<h1>H1</h1>
			<h2>H2</h2>
			<h3>H3</h3>
			<h4>H4</h4>
			<h5>H5</h5>
			<h6>H6</h6>
		</section>
	</div>

	<div class="card">
			<header><h2>Typography Others</h2></header>
			<section class="content">
				<div class="sub1">sub1</div>
				<div class="sub2">sub2</div>
				<div class="body1">body1</div>
				<div class="body2">body2</div>
				<div class="txt-button">txt-button</div>
				<div class="caption">caption</div>
				<div class="overline">overline</div>
			</section>
		</div>	
</div>