<script id="ProjectAddDialog-content" type="text/html">

		<div class="tab-bar">
				<a class="tab-custom">Custom</a>
				<a class="tab-github">Import from github</a>	
		</div>

		<section class='custom'>
			<div class="field">
					<label>Project Name</label>
					<input class="dx" name="name" type="text" />
			</div>
		</section>

		<section class='github'>
			<ul>
			<ul>
		</section>
		
</script>