<script id="ProjectListMainView" type="text/html">
	<div class="ProjectListMainView">
	
		<button class="main-button show-add"><i>{{{symbol 'ico-big-plus'}}}</i></button>
	</div>
</script>
	
<script id="ProjectListMainView-pane" type="text/html">
<div class="card" data-type="Pane" data-id="{{id}}">
	<header>
		<h5 class="dx dx-name">{{name}}</h5>
		<aside>{{{ico "ico-more"}}}</aside>
	</header>
	<section>
	</section>
</div>
</script>

<script id="ProjectListMainView-tickets" type="text/html">

	<div class="list">
		<ul>
		{{#each tickets}}
		<a href="#project/{{projectId}}/ticket/{{id}}">{{ghNumber}} - {{title}}<br />
			{{#each labels}}
			<span class="lbl" style="background: #{{color}}; {{#if isDark}}color:#fff{{/if}}" >{{name}}</span>
			{{/each}}
		</a>
		{{/each}}
		</ul>
	<div>
</script>
