@import "../pcss/mixins-all.pcss";

.ProjectPaneConfigDialog{
	height: 30rem;
	& > section{ /* dialog content */
		display: grid;
		grid-template-rows: auto 1fr;

		.label-list{
			position: relative;
			ul{
				overflow: auto;
				@mixin fitparent{};

				li{
					display: grid;
					grid-template-columns: 2rem 1fr;
					align-items: center;
					span{
						width: max-content;
					}
				}
			}
		}

	}
}