.ProjectMainView{

	& > header{
		position: relative;
		.tab-bar{
			padding-left: 3rem;
			background: #fff;
		}

		.main-button{
			position: absolute;
			bottom: -2.5rem;
			right: 3rem;
		}
	} 

	& > section {
		padding: 3rem;
		display: flex;
	}
}