<script id="ProjectMainView" type="text/html">
<div class="ProjectMainView screen" data-entity="Project">

	<header>

	</header>

	<section>
		
	</section>

</div>
</script>

<script id="ProjectMainView-header" type="text/html">
	<h1>{{name}} <button class="do-sync">Sync</button></h1>
	
	<div class="tab-bar">
		<a href="#project/{{id}}/lists">Lists</a>
		<a href="#project/{{id}}/tickets">Tickets</a>	
		<a href="#project/{{id}}/dash">Dashboard</a>
	</div>
	<button class="main-button main-add"><i>{{{symbol 'ico-big-plus'}}}</i></button>
</script>


