<div class="DialogBase" tabindex="0">
	<div class="dialog">
		<header><span class="title"></span><i class="action do-close">{{{symbol "ico-close"}}}</i></header>
		<section class="dialog-content"></section>
		<div class="msg hide"></div>
		<footer class="hide"></footer>		
	</div>
</div>