<div class="DialogBase" tabindex="0">
	<div class="dialog">
		<header><span class="title"></span><c-ico class="action do-close">close</c-ico></header>
		<section class="dialog-content"></section>
		<div class="msg hide"></div>
		<footer class="hide"></footer>		
	</div>
</div>