<div class="DialogBase dialog" tabindex="0" style="{{#if size}}width:{{size.width}}px; height:{{size.height}}px{{/if}}">
	<header><span class="title">Some Header</span><i class="action do-close">{{{symbol "ico-close"}}}</i></header>
	<section class="content">
		Some Content
	</section>
	<div class="msg hide"></div>
	<footer class="hide"></footer>
</div>