<div class="MainView">
	<header>
		<c-ico class="to-menu">menu</c-ico>
		<h3>CLOUD STARTER</h3>
		<aside class="toogle-user-menu">
			<c-ico>user</c-ico>
			<div class="dx dx-name">Some name</div>
			<div class="menu displayNone">
				<div class="do-logoff">Logoff</div>
				<a href="#profile">Profile</a>
			</div>
		</aside>
	</header>
	
	<nav></nav>

	<main>
	</main>
	<footer>
		some footer
	</footer>
</div>