<div class="UIMainView">
	<div class="tab-bar">
		<a href="/_ui/typo">Typography</a>
		<a href="/_ui/cards">Cards</a>	
		<a href="/_ui/controls">Controls</a>
		<a href="/_ui/buttons">Buttons</a>
		<a href="/_ui/dialogs">Dialogs</a>
	</div>
	<section class="content">

	</section>
</div>