
/**
	Patterns from Google material: https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android

	- 1: Switch
  - 2: Card, raised button, quick entry / search bar
  - 3: Refresh indicator, quick entry / search bar (scrolled state)
  - 4: App bar
  - 6: Floating action button (FAB) (rest), Snackbar
  - 8: Bottom nav bar, Menu, Card (when picked up), Raised button (pressed state) {
  - 9: Sub menu (+1dp for each sub menu)
	- 12: Foloaction acount button (FAB - pressed)
  - 16: Nav drawer, Right drawer, Modal button Sheet
  - 24: Dialog, Picker
*/

/*#region    Typography */

/*#endregion Typography */

/* @import './_d-mixins-field.pcss'; use the d-field-pcss */

/**
 * Resources: 
 *  - Google Materials Color: https://material.io/design/color/#tools-for-picking-colors
 **/

:root{

	/* google gray palette */
	--d-clr-gray-50: #FAFAFA;
	--d-clr-gray-100: #F5F5F5;
	--d-clr-gray-200: #EEEEEE;
	--d-clr-gray-300: #E0E0E0;
	--d-clr-gray-400: #BDBDBD;
	--d-clr-gray-500: #9E9E9E;
	--d-clr-gray-600: #757575;
	--d-clr-gray-700: #616161;
	--d-clr-gray-800: #424242;
	--d-clr-gray-900: #212121;


	/* google material light blue palette */
	--d-clr-50: #E1F5FE;
	--d-clr-100: #B3E5FC;
	--d-clr-200: #81D4FA;
	--d-clr-300: #4FC3F7;
	--d-clr-400: #29B6F6;
	--d-clr-500: #03A9F4;
	--d-clr-600: #039BE5;
	--d-clr-700: #0288D1;
	--d-clr-800: #0277BD;
	--d-clr-900: #01579B;
	--d-clr-A100: #80D8FF;
	--d-clr-A200: #40C4FF;
	--d-clr-A400: #00B0FF;
	--d-clr-A700: #0091EA;

	--d-clr-prime: var(--d-clr-700);


	--d-field-input: var(--d-clr-gray-900);
	--d-field-label: var(--d-clr-gray-700);
	--d-field-label-no-value: var(--d-clr-gray-500);
	--d-field-label-focused: var(--d-clr-800);
	--d-field-trail-text: var(--d-clr-gray-600);

	--d-field-bdr: #aaa;
	--d-field-bdr-focused: var(--d-clr-prime);

	--d-field-choice-bdr: var(--d-clr-gray-500);
	--d-field-choice-bdr-on: var(--d-clr-prime);
	--d-field-choice-ico: #fff;

	--d-field-placholder-clr: var(--d-clr-gray-700);

	--d-select-option-ov-bkg: var(--d-clr-gray-100);
	--d-select-option-noval-clr: var(--d-clr-gray-600);


	/*#region    Layout */
	--d-field-v-padding: 1rem;
	/*#endregion Layout */
}

/*#region    d-field */

.d-field input, .d-field textarea{
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-left: 0;
		padding-right: 0;
	}

/* NOTE: for now supports only ico-lead or ico-trail, ico-trail or text-trail */

.d-field{
	background: var(--bkg);
	position: relative;
	min-height: 3.25rem;
	display: grid;
	grid-template-rows: .5rem 1fr;
	grid-template-columns: var(--d-field-v-padding) 1fr  var(--d-field-v-padding) ;
	align-items: stretch;

}

.d-field[ico-lead]{
		grid-template-columns: 2.5rem 1fr  var(--d-field-v-padding);
	}

.d-field[ico-trail]{
		grid-template-columns:  var(--d-field-v-padding) 1fr 2.5rem;
	}

.d-field[text-trail]{
		grid-template-columns:  var(--d-field-v-padding) 1fr auto;
	}

.d-field[disabled]{
		opacity: .5;
	}

.d-field[readonly]{
		border-bottom: solid 1px var(--bdr-lighter);
	}

.d-field.focused > d-ico{
			fill: var(--d-field-bdr-focused);
		}

.d-field.focused > label {
			grid-row: 1;
			color: var(--d-field-label-focused);
		}

.d-field.focused .box{
			border: solid 1px var(--d-field-bdr-focused);
		}

.d-field > label {
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: .75rem;
		letter-spacing: .00929em;
		line-height: 1;
		font-weight: 400;
		color: var(--d-txt-label);;
		background: white;
		color: var(--d-field-label);
		/* transform: translate(1rem,.25rem); */
		position: absolute;
		left: .5rem;
		padding: 0 .5rem;
		z-index: 12; /* need to fix that */
		display: inline-flex;		
	}

.d-field > .label-trail{
		position: relative;
		grid-row: 1;
		grid-column: 2;
		height: .75rem;
		justify-self: end;
	}

.d-field > .text-trail{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;
		color: var(--d-txt-input);;		
		grid-row: 2;
		grid-column: 3;
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 .5rem;
		color: var(--d-field-trail-text);
	}

/* label repositioning when no-value */

.d-field.no-value:not([placeholder]):not(.focused) > label{
				-webkit-font-smoothing: antialiased;
				text-decoration: inherit;
				text-transform: inherit;
				font-size: 1rem;
				line-height: 1.5rem;
				font-weight: 400;
				letter-spacing: .03125em;
				color: var(--d-txt-input);;
				color: var(--d-field-label-no-value);
				background: none;
				grid-row: 2;
				grid-column: 2;
				position: relative;
				left: 0;
				padding: 0;
				display: block;
				display: flex;
				align-items: center;
			}

.d-field[placeholder].no-value{
		color: var(--d-field-label-no-value);
	}

.d-field.no-value[ico-lead]:not([placeholder]):not(.focused) > label{
			/* padding-left: 2.5rem; */
		}

.d-field > .box {
		grid-row: 2;
		grid-column: 1 / span 4;
		border: solid 1px var(--d-field-bdr);
		border-radius: 3px;
		z-index: 0;
	}

.d-field > .d-ipt {
		grid-row: 2;
		grid-column: 2;		
		-webkit-font-smoothing: antialiased;		
		text-decoration: inherit;		
		text-transform: inherit;		
		font-size: 1rem;		
		line-height: 1.5rem;		
		font-weight: 400;		
		letter-spacing: .03125em;		
		color: var(--d-txt-input);;
		box-shadow: none;
		background: none;
		outline: none;
		border: none;
		z-index: 2;		
	}

.d-field[ico-lead] > .d-ipt{
		/* padding-left: 2.5rem; */
	}

.d-field[ico-trail] > .d-ipt{
		/* padding-right: 2.5rem; */
	}

.d-field > d-ico {
		grid-row: 2 ;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		z-index: 2;	
		
	}

.d-field > d-ico svg.symbol{
			width: 1.5rem;
			height: 1.5rem;
		}

.d-field > d-ico.trail{
			grid-column: 3;
		}

.d-field > d-ico.lead{
			grid-column: 1;
		}

.d-field.no-label{
		grid-template-rows: 0 1fr;
		min-height: 2.75rem;
	}

/*#endregion d-field */

/*#region    d-base-check-radio */

d-radio.d-field, d-check.d-field, .d-check{
	display: grid;
	grid-template-columns: 1.5rem .5rem 1fr;
	grid-template-rows: 1.5rem;
	min-height: 1.5rem;
	user-select: none;
	cursor: pointer;
	line-height: 1;

}

d-radio.d-field .d-ipt,d-check.d-field .d-ipt,.d-check .d-ipt{
		min-height: .75rem;
	}

d-radio.d-field.no-label,d-check.d-field.no-label,.d-check.no-label{
		grid-template-columns: 1.5rem;
		grid-template-rows: 1.5rem;
		min-height: auto;
		min-width: auto;
	}

d-radio.d-field.no-label .d-ipt,d-check.d-field.no-label .d-ipt,.d-check.no-label .d-ipt{
			grid-column: 1;
		}

d-radio.d-field label,d-check.d-field label,.d-check label{
		background: none;
		padding-left: 0;
		left: 0;
		position: relative;
		grid-row: 1;
		grid-column: 3;		
		-webkit-font-smoothing: antialiased;		
		text-decoration: inherit;		
		text-transform: inherit;		
		font-size: 1rem;		
		line-height: 1.5rem;		
		font-weight: 400;		
		letter-spacing: .03125em;		
		color: var(--d-txt-input);;
		display: flex;	
		align-items: center; /* vertical center */
	}

d-radio.d-field .d-ipt,d-check.d-field .d-ipt,.d-check .d-ipt{
		grid-row: 1;
		grid-column: 1;
		padding: 0;
		align-self: center;
		line-height: 1;
	}

d-radio.d-field .d-ipt svg.symbol,d-check.d-field .d-ipt svg.symbol,.d-check .d-ipt svg.symbol{
			width: 100%;
			height: 100%;	
		}

/*#endregion d-base-check-radio */

/*#region    d-check */

d-check.d-field .d-ipt,.d-check .d-ipt{
		height: 1rem;
		width: 1rem;
		border: solid 2px var(--d-field-choice-bdr);
	}

d-check.d-field .d-ipt svg.symbol,.d-check .d-ipt svg.symbol{
			display: none;
		}

d-check.d-field[checked] .d-ipt,.d-check[checked] .d-ipt{
			border: solid 2px var(--d-field-choice-bdr-on);
			background: var(--d-field-choice-bdr-on);			
		}

d-check.d-field[checked] .d-ipt svg.symbol,.d-check[checked] .d-ipt svg.symbol{
				display: block;
				fill: var(--d-field-choice-ico);
			}

/*#endregion d-check */

/*#region    d-radio */

d-radio.d-field .d-ipt,.d-radio .d-ipt{
		height: 1.5rem;			
	}

d-radio.d-field .d-ipt svg.symbol,.d-radio .d-ipt svg.symbol{
			fill: var(--d-field-choice-bdr);
		}

d-radio.d-field[checked] .d-ipt svg.symbol,.d-radio[checked] .d-ipt svg.symbol{
				fill: var(--d-field-choice-bdr-on);
			}

/*#endregion d-radio */

/*#region    d-ico d-symbol */

d-ico, d-symbol{
	/* making sure that parent don't change value case, which is used as asset name */
	text-transform: none; 
	padding: 0;
	margin: 0;
	max-width: 1.5rem;
	max-height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #aaa;
	user-select: none;
}

d-ico svg.symbol,d-symbol svg.symbol{
		max-width: 100%;
		max-height: 100%;
	}

/*#endregion d-ico d-symbol */

/*#region    d-input */

d-input.d-field{
	
}

/*#endregion d-input */

/*#region    d-text */

d-text.d-field d-ico{
		padding-top: .25rem;
		align-items: flex-start;
	}

d-text.d-field textarea.d-ipt{
		padding-top: .25rem;
		resize: none;
	}

d-text.d-field.no-value:not([placeholder]):not(.focused) > label{
			padding-top: .25rem;
			align-items: flex-start;
		}

/*#endregion d-text */

/*#region    d-select */

d-select.d-field{
	cursor: pointer;
	grid-template-columns: var(--d-field-v-padding) 1fr 2rem;

}

d-select.d-field[ico-lead]{
		grid-template-columns: 2.5rem 1fr 2rem;
	}

d-select.d-field > div.d-ipt{
		display: flex;
		align-items: center;
	}

/* Note: on Chrome, if visibility hidden on c-ico, we get unwanted horizontal scroll bar */

d-select.d-field[readonly] d-ico svg{
			visibility: hidden;
		}

d-select.d-field > d-ico.chevron{
		z-index: 2;		
		grid-column: 3;			
	}

d-select.d-field > d-ico.chevron svg.symbol{
			width: 1rem;
			height: 1rem;
		}

d-select-popup{
	position: absolute;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);;
	width: 8rem;
	/* height: 10rem; */
	background: #FFF;
	max-height: 15rem;
	overflow: auto;
	z-index: 100;

}

d-select-popup li.none{
		color: red;
	}

d-select-popup ul, d-select-popup li{
		margin: 0;
		padding: 0;
		color: var(--txt);
	}

d-select-popup ul > li, d-select-popup ul > a{
			cursor: pointer;
			line-height: 1;
			padding: 1rem 1rem;
		}

d-select-popup ul > li.sel,d-select-popup ul > a.sel{
				font-weight: 600;
			}

d-select-popup ul > li:hover,d-select-popup ul > a:hover{
				background: var(--d-select-option-ov-bkg);
			}

d-select-popup ul > li:not([data-val]),d-select-popup ul > a:not([data-val]){
				font-weight: 400;
				color: var(--d-select-option-noval-clr);
			}

d-select-popup ul > li{
			list-style: none;
		}

/*#endregion d-select */

/*#region    d-options */

d-options.d-field{
	display: grid;
	min-height: auto;
	align-items: center;

}

d-options.d-field > .d-ipt {
		display: grid;
		grid-auto-flow: column;
		grid-column-gap: .5rem;
		justify-items: center;
	}

d-options.d-field > .d-ipt > div {
			-webkit-font-smoothing: antialiased;
			text-decoration: inherit;
			text-transform: inherit;
			font-size: 1rem;
			line-height: 1.5rem;
			font-weight: 400;
			letter-spacing: .03125em;;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2rem;
			cursor: pointer;
			color: var(--txt-L3);
			padding: 0 1rem;
			border-right: solid 1px var(--bdr-L4);
		}

d-options.d-field > .d-ipt > div.sel{
				color: var(--txt-prime);
				font-weight: 700;
			}

d-options.d-field > div:first-of-type{
		padding-left: 0;
	}

d-options.d-field > div:last-of-type{
		border-right: none;
	}

/*#endregion d-options */

/**
	Patterns from Google material: https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android

	- 1: Switch
  - 2: Card, raised button, quick entry / search bar
  - 3: Refresh indicator, quick entry / search bar (scrolled state)
  - 4: App bar
  - 6: Floating action button (FAB) (rest), Snackbar
  - 8: Bottom nav bar, Menu, Card (when picked up), Raised button (pressed state) {
  - 9: Sub menu (+1dp for each sub menu)
	- 12: Foloaction acount button (FAB - pressed)
  - 16: Nav drawer, Right drawer, Modal button Sheet
  - 24: Dialog, Picker
*/

/* --------- SectionName --------- */

/* --------- /SectionName --------- */

*{
	box-sizing: border-box; /* good best practice for application */
	/* To allow flex/grid box to shrink smaller than content. 
		Need to be set to all because of nested issue
		see: https://stackoverflow.com/a/36247448/686724 */
	min-width: 0;
	min-height: 0;	
}

html, body{
	height: 100%; /* make sure the canvas is the browser window */
	
}

html{
	overflow: hidden; /* prevent the browser 'bounce' (but will prevent screen scroll as well)*/
}

body{
	margin: 0;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

/* reset the ul and li */

ul, li{
	margin: 0;
	padding: 0;
}

a{ 
	cursor: pointer; 
	display: block;
	text-decoration: none;
	color: #fff;
	opacity: .9;
}

.action{
	cursor: pointer;
}

.display-none {
	display: none !important;
}

/*#region    Entity Label Element */

.lbl{
	padding: .5rem 1rem;
	display: inline-block;
	border-radius: 5px;
}

/*#endregion Entity Label Element */

/* #region    Typography Base */

h1{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-decoration: inherit;
	text-transform: inherit;
	font-size: 2.125rem;
	line-height: 2.5rem;
	letter-spacing: .00735em;
	font-weight: 400;
}

h2{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: 1.5rem;	
	line-height: 2rem;	
	font-weight: 400;	
	letter-spacing: normal;
}

h3{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: 1.25rem;	
	line-height: 2rem;	
	font-weight: 500;	
	letter-spacing: .0125em;
}

h4{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: 1rem;	
	line-height: 2rem;	
	font-weight: 500;	
	letter-spacing: .0075em;
}

.sub1{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: 1rem;	
	line-height: 1.75rem;	
	font-weight: 400;	
	letter-spacing: .00937em;	
}

.sub2{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: .875rem;	
	line-height: 1.375rem;	
	font-weight: 500;	
	letter-spacing: .00714em;	
}

.body1{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: 1rem;	
	line-height: 1.5rem;	
	font-weight: 400;	
	letter-spacing: .03125em;	
}

.body2{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: .875rem;	
	letter-spacing: .01786em;	
	line-height: 1.25rem;	
	font-weight: 400;	
}

.caption{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: .75rem;	
	letter-spacing: .03333em;	
	line-height: 1.25rem;	
	font-weight: 400;	
}

.overline{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: .75rem;	
	line-height: 2rem;	
	letter-spacing: .16667em;	
	font-weight: 500;	
	text-transform: uppercase;	
}

.txt-button{
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;	
	text-decoration: inherit;	
	text-transform: inherit;	
	font-size: .875rem;	
	line-height: 2.25rem;	
	letter-spacing: .08929em;	
	font-weight: 500;	
	text-transform: uppercase;	
}

/* #endregion Typography Base */

:root{
	/* palette */
	--clr-prime: #1976D2;
	--clr-scnd: #FFA000;

	--clr-prime-900: #0D47A1;
	--clr-prime-800: #1565C0;
	--clr-prime-700: #1976D2;
	--clr-prime-600: #1E88E5;
	--clr-prime-500: #2196F3;
	--clr-prime-400: #42A5F5;
	--clr-prime-300: #64B5F6;
	--clr-prime-200: #90CAF9;
	--clr-prime-100: #BBDEFB;
	--clr-prime-50: #E3F2FD;


	/* background colors */
	--bkg-lightest: #FAFAFA;
	--bkg-lighter: #EEEEEE;
	--bkg-light: #E0E0E0;
	--bkg: #DDDDDD;
	--bkg-dark: #aaaaaa;
	--bkg-sel: #E3F2FD;
	--bkg-header: #474747;
	--bkg-nav: #eee;
	--bkg-prime: #65A2DE;

	/* text on prime */
	--txt-op: rgba(255,255,255,0);
	--txt-op-med: rgba(255,255,255,.99);
	--txt-op-low: rgba(255,255,255,.38);


	/* text black colors */
	--txt-white: rgba(0,0,0,.87);
	--txt-white-med: rgba(0,0,0,.60);
	--txt-white-low: rgba(0,0,0,.38);

	/* text white colors */
	--txt: rgba(0,0,0,.87);
	--txt-med: rgba(0,0,0,.60);
	--txt-low: rgba(0,0,0,.38);


	--txt-alert: red;
	--txt-action: #336699;
	--txt-link: #1565C0;

	--txt-prime: var(--clr-prime);

	/* border colors */
	--bdr-lightest: #f0f0f0;
	--bdr-lighter: #ddd;
	--bdr-light: #aaa;	
	--bdr: #999;
	--bdr-dark: #555;
	--bdr-prime: var(--clr-prime);
	
	/* highlight */
	--highlight: #f0f0f0;
	

	/* icons color */
	--ico: #323232;
	--ico-prime: var(--clr-prime);
	--ico-dark: #242424;
	--ico-ngv: #fff;
}

:root{
	/* this is for the field background */
	/* @dom-native/ui TODO: need to have this as --d-field-bkg */
	--bkg: #FFF;
}

button {
	outline-style: none;
}

button, a.button{

	/* Button Colors */
	--btn-color-bkg-hover: rgba(98, 0, 238, .1);
	--btn-color: rgb(98, 0, 238);
	--btn-color-focus: rgba(98, 0, 238, .8);
	--btn-color-active: rgba(98, 0, 238, .2);
	--btn-color-active-dark: rgba(98, 0, 238, .6);
	--btn-color-outline: #ddd;
	--btn-color-disabled-light: #fafafa;
	--btn-color-disabled: #aaa;
	--btn-color-disabled-dark: #999;	
	/* /Button Colors */

	display: inline-flex;
	
	align-items: center;
	padding: 0 1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background: none;
	color: var(--btn-color);


	-webkit-font-smoothing: antialiased;


	text-decoration: inherit;


	text-transform: inherit;


	font-size: .875rem;


	line-height: 2.25rem;


	letter-spacing: .08929em;


	font-weight: 500;


	text-transform: uppercase;		
	/*#endregion Button Types */

}

/*#region    Icon */

button c-ico,a.button c-ico{
		fill: var(--btn-color);
		margin-right: .75rem;
	}

button.medium c-ico,button.high c-ico,a.button.medium c-ico,a.button.high c-ico{
			fill: white;
		}

/*#region    Common Button States */

button:hover:not(:disabled):not(.disabled),a.button:hover:not(:disabled):not(.disabled){
		background: var(--btn-color-bkg-hover);
	}

/*#endregion Icon */

button:active:not(:disabled):not(.disabled),a.button:active:not(:disabled):not(.disabled){
		background: var(--btn-color-active);
		box-shadow: none;
	}

/* Note: 'a' tag doe snot have a disabled attribute/pseudo, so fall back on classes */

button:disabled, button.disabled, a.button:disabled, a.button.disabled{
		color: var(--btn-color-disabled);
		cursor: default;
	}

/*#region    Button Types */

button.medium, button.high, a.button.medium, a.button.high{
		background: var(--btn-color);
		color: white;
	}

button.medium:disabled, button.medium.disabled, button.high:disabled, button.high.disabled, a.button.medium:disabled, a.button.medium.disabled, a.button.high:disabled, a.button.high.disabled{
			background: var(--btn-color-disabled-light);
			color: var(--btn-color-disabled);
		}

button.medium:hover:not(:disabled):not(.disabled),button.high:hover:not(:disabled):not(.disabled),a.button.medium:hover:not(:disabled):not(.disabled),a.button.high:hover:not(:disabled):not(.disabled){
			background: var(--btn-color-focus);
		}

button.medium:active:not(:disabled):not(.disabled),button.high:active:not(:disabled):not(.disabled),a.button.medium:active:not(:disabled):not(.disabled),a.button.high:active:not(:disabled):not(.disabled){
			background: var(--btn-color-active-dark);
		}

/*#endregion Common Button States */

button.high,a.button.high{
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	}

button.high:disabled, button.high.disabled, a.button.high:disabled, a.button.high.disabled{
			box-shadow: none;
		}

button.outlined,a.button.outlined{
		box-shadow: none;;
		background: none;
		color: var(--btn-color);
		border: solid 1px var(--btn-color-outline);		
	}

button.outlined:disabled, button.outlined.disabled, a.button.outlined:disabled, a.button.outlined.disabled{
			color: var(--btn-color-disabled);
		}

button.main-button{
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);;
	background: var(--clr-prime);
	color: white;
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center; 
	

}

button.main-button c-ico{
		margin: 0;
		fill: white;
		width: 2.5rem;
		height: 2.5rem;
	}

button.main-button:hover:not(:disabled):not(.disabled){
		background: var(--clr-prime);
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	}

button.main-button:active:not(:disabled):not(.disabled){
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
		background: var(--clr-prime);
		color: red;
	}

nav{

	flex: 1;
	/* display: grid;
	grid-template-rows: repeat(auto-fill, 3rem);	
	grid-row-gap: 1rem;
	padding-top: 3rem; */
	padding-top: 1rem; 
	display: flex;
	flex-direction: column;
	background: red;

}

nav a{ 
		-webkit-font-smoothing: antialiased; 
		text-decoration: inherit; 
		text-transform: inherit; 
		font-size: 1rem; 
		line-height: 2rem; 
		font-weight: 500; 
		letter-spacing: .0075em;;
		font-weight: 400;
		height: 2.5rem;
		color: var(txt);
		margin-bottom: 1rem;
		display: grid;
		grid-auto-columns: .25rem .75rem 1.5rem 1rem 1fr;
		grid-auto-flow: column;
		color: var(--txt);
	}

nav a .bar{
			grid-column: 1;
		}

nav a c-ico{
			grid-column: 3;
			align-self: center; /* vertical center */
  		justify-self: center; /* horizontal center */
		}

nav a label, nav a .label{
			grid-column: 5;
			display: flex;
			align-items: center; /* vertical center */			
		}

nav a.sel{
			background: #fff;
		}

nav a.sel .label{
				color: var(--txt-dark);
				font-weight: 600;
			}

nav a.sel c-ico{
				fill: var(--ico-dark);
			}

nav a.sel .bar{
				background: var(--bkg-prime);
			}

nav a:hover{
			background: #fff;
		}

.card{
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
	background: var(--bkg-L2);
	color: var(--txt);
	display: grid;
	grid-template-rows: auto 1fr auto;

}

.card > header{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: 500;
		letter-spacing: .0125em;; /* This is for inline header, when no h5/h6 */
		display: grid;
		grid-template-columns: 2rem 1fr 1rem;
		padding: 1rem;
		user-select: none;

	}

.card > header h2{
			grid-column: 1 / 3;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;			
		}

.card > header h3{
			-webkit-font-smoothing: antialiased;
			text-decoration: inherit;
			text-transform: inherit;
			font-size: 1rem;
			line-height: 1.75rem;
			font-weight: 400;
			letter-spacing: .00937em;;
			color: var(--txt-L3);
			grid-column: 1 / 3;
			grid-row: 2;
		}

.card > header d-ico{
			cursor: pointer;
			grid-column: 3;
			grid-row: 1;				
			fill: var(--ico-L4);
			width: 1.25rem;
			height: 1.25rem;
		}

.card > section{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;;
		padding: 0 1rem 8px 1rem;
	}

.card > footer{
		min-height:  3rem;
		display: flex;
		align-items: center;
		padding: 0 1rem;
	}

.card > footer.split-2{
			display: grid;
			grid-template-columns: 1fr 1fr;

		}

.card > footer.split-2 > div:nth-child(2){
				display: flex;
				justify-content: flex-end;				
			}

.card > footer.split-2 > div:nth-child(2) > *{
					margin-left: 1rem;
				}

.dialog{
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);;
	background: var(--bkg-L2);
	display: grid;
	grid-template-rows: 3rem 1fr auto;
	color: var(--txt-L0);
	background: #fff;
	/* Note: not sure why we need outline on this element, but if not, we have a blue box on click */
	outline: none;
}

.dialog > header{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: 500;
		letter-spacing: .0125em;;
		padding: 0 1rem;
		display: grid;

		grid-template-columns: 1fr 1rem;
		align-items: center;
	}

.dialog > header c-ico{
			width: 100%;
			justify-self: right;
		}

.dialog > section:first-of-type{
		padding: 1rem;
	}

.dialog > footer{
		padding: 1rem 0 1rem 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

.dialog > footer > .message {
			flex: 1;
			font-size: .8rem;
			color: var(--txt-alert);
			display: flex;
			align-items: center;
		}

.dialog > footer > *{
			margin-right: 1rem;
		}

.dialog > footer > .spacer{
			flex: 1;
		}

.dialog.notif{
	grid-template-rows: 1fr;		

}

.dialog.notif > header{
		display: none;
	}

.dialog.notif > section:first-of-type{
		display: grid;
		grid-template-columns: 3rem 1fr;
	}

.dialog.notif > section:first-of-type c-ico {
			width: 2rem;
			height: 2rem;
		}

.dialog.notif > section:first-of-type p{
			padding-top: .25rem;
			color: var(--txt-L3);
		}

input{
	border: none;
	font-size: 1rem;
}

input::-webkit-input-placeholder{
		color: var(--txt-low);
	}

input:focus{
		outline: none;
	}

ul, li{
	margin: 0;
	padding: 0;
}

ul li, ul a{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: .875rem;
		letter-spacing: .08929em;
		line-height: 1;
		font-weight: 400;
		color: var(--txt);;
		line-height: 1.4;
		padding: 1rem .5rem;
	}

ul li{
		list-style: none;
	}

ul a{
		cursor: pointer;
	}

ul a:hover{
			background: var(--bkg-sel);
		}

main > .screen{
	display: grid; 
	grid-auto-flow: column;
	grid-template-rows: 1rem 3rem 1rem 1fr;
	padding: 1rem;


}

main > .screen > header{
		grid-row: 2;
		display: grid;
		align-items: center;
	}

main > .screen > header h1{
			-webkit-font-smoothing: antialiased;
			text-decoration: inherit;
			text-transform: inherit;
			font-size: 1.5rem;
			line-height: 2rem;
			font-weight: 400;
			letter-spacing: normal;
		}

main > .screen > header .tab-bar{
			padding-left: 3rem;
		}

.tab-bar{
	border-bottom: solid 1px #ddd;
	display: flex; 
	flex-direction: row;
}

.tab-bar > * {
		display: block;
		padding: 1rem 2rem;
		color: var(--txt);
	}

.tab-bar > *.sel{
			color: var(--clr-scnd);
			border-bottom: solid 2px var(--clr-scnd);
		}

v-home > section {
		display: grid;
		grid-template-columns: repeat(auto-fill, 16rem);
		grid-template-rows: repeat(auto-fill, 12rem);
		grid-gap: 2rem;
	}

v-home > section .card.wks-add{
			cursor: pointer;
			display: grid;
			grid-template-rows: 1fr auto 1rem auto 1fr;
			align-items: center; /* vertical center */
			justify-items: center;
		}

v-home > section .card.wks-add c-symbol{
				grid-row: 2;
				width: 4rem;
				height: 4rem;
				align-self: flex-end;
				opacity: .3;
			}

v-home > section .card.wks-add h3{
				grid-row: 4;
				align-self: flex-start;
				opacity: .5;
			}

v-home > section .card { 
			cursor: pointer;
			display: block;
		}

v-images{
	padding: 1rem;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, 16rem);
	grid-template-rows: repeat(auto-fill, 12rem);
	grid-gap: 2rem;

}

v-images .media-add{
		opacity: .2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background: var(--bdr-lightest);

		border: dashed 3px var(--bdr);
		justify-content: center;
	}

v-images .media-add h3{
			color: black;
		}

v-images .media-add d-ico{
			width: 3rem;
			height: 3rem;
			max-width: 3rem;
			max-height: 3rem;
		}

v-images .media-add:hover{
			opacity: .5;
		}

v-login{
	flex: 1;	
}

v-login .dialog{
		position: absolute;
		width: 500px;
		top: 300px;
		left: 50%;
		margin-left: -200px;
		display: grid;
		grid-template-rows: 8rem auto 4rem;

	}

v-login .dialog header{
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--bkg-lighter);
			color: var(--txt);
			font-size: 2rem;
			font-weight: 100;
		}

v-login .dialog .content{
			background: var(--bkg-prime);
			display: grid;
			padding: 3rem 4rem 1rem 4rem;
			grid-auto-rows: auto;
			grid-gap: 1rem;
		}

/* min-height: 20rem; */

v-login .dialog .content c-input{
				--bkg: white;
			}

v-login .dialog .content button.do{
				justify-self: center;
				background: #fff;
				color: var(--txt);
			}

v-login .dialog footer{
			background: var(--bkg-prime);
		}

v-login .dialog footer .line{
				width: 1px;
				background: #fff;
				height: 1.5rem;
			}

v-login.has-message .message{
			background: rgba(255,255,255,.7);
			padding: 0 1rem;
			
		}

v-login.login-mode .dialog .for-register{
			display: none;
		}

v-login.register-mode .dialog .for-login{
			display: none;
		}

v-main{
	flex: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem auto 1.5rem;

}

v-main > header{
		grid-area: 1 / 1 / 2 / 3;
		background: var(--bkg-header);
		display: grid;
		grid-template-columns: 4rem 24rem auto 14rem 1rem;
		z-index: 100;
	}

v-main > header > d-ico { 
			justify-self: center;
			align-self: center;
			fill: #fff;
			width: 2rem;
			height: 2rem;
			cursor: pointer;
		}

v-main > header > h3 {
			-webkit-font-smoothing: antialiased;
			text-decoration: inherit;
			text-transform: inherit;
			font-size: 1rem;
			line-height: 2rem;
			font-weight: 500;
			letter-spacing: .0075em;;
			
			grid-column: 2;
			align-self: center;
			justify-self: left;
			color: #fff;
		}

v-main > header > aside{
			position: relative;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
			grid-column: 4;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;
		}

v-main > header > aside c-ico{
				width: 1.5rem;
				height: 1.5rem;
				fill: #fff;
				margin-right: .5rem;
				fill: var(--ico-ngv);
			}

v-main > header > aside .dx-name{
				/* margin-left: .5rem; */
				color: #fff;
			}

v-main > header > aside c-menu{
				top: 3.5rem;
				right: 0;
				min-width: 10rem;
			}

v-main > main{
		grid-area: 2 / 1 / 3 / 1;
		display: flex;
		background: #fff;
	}

v-main > main > * {
			flex: 1;
		}

v-main > footer{
		border: solid 1px red;
		grid-area: 3 / 1 / 3 / 3;
	}

v-main.un-auth{
		display: none;
	}

v-main .__version__{
		position: absolute;
		bottom: 8px;
		right: 8px;
		opacity: .3;
		font-size: 11px;
	}

v-nav{

	flex: 1;
	/* display: grid;
	grid-template-rows: repeat(auto-fill, 3rem);	
	grid-row-gap: 1rem;
	padding-top: 3rem; */
	padding-top: 1rem; 
	display: flex;
	flex-direction: column;
	background: red;

}

v-nav a{ 
		-webkit-font-smoothing: antialiased; 
		text-decoration: inherit; 
		text-transform: inherit; 
		font-size: 1rem; 
		line-height: 2rem; 
		font-weight: 500; 
		letter-spacing: .0075em;;
		font-weight: 400;
		height: 2.5rem;
		color: var(txt);
		margin-bottom: 1rem;
		display: grid;
		grid-auto-columns: .25rem .75rem 1.5rem 1rem 1fr;
		grid-auto-flow: column;
		color: var(--txt);
	}

v-nav a .bar{
			grid-column: 1;
		}

v-nav a c-ico{
			grid-column: 3;
			align-self: center; /* vertical center */
  		justify-self: center; /* horizontal center */
		}

v-nav a .label{
			grid-column: 5;
			display: flex;
			align-items: center; /* vertical center */			
		}

v-nav a.sel{
			background: #fff;
		}

v-nav a.sel .label{
				color: var(--txt-dark);
				font-weight: 600;
			}

v-nav a.sel c-ico{
				fill: var(--ico-dark);
			}

v-nav a.sel .bar{
				background: var(--bkg-prime);
			}

v-nav a:hover{
			background: #fff;
		}

v-videos{
	padding: 1rem;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, 16rem);
	grid-template-rows: repeat(auto-fill, 12rem);
	grid-gap: 2rem;

}

v-videos .media-add{
		opacity: .2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background: var(--bdr-lightest);

		border: dashed 3px var(--bdr);
		justify-content: center;
	}

v-videos .media-add h3{
			color: black;
		}

v-videos .media-add d-ico{
			width: 3rem;
			height: 3rem;
			max-width: 3rem;
			max-height: 3rem;
		}

v-videos .media-add:hover{
			opacity: .5;
		}

v-wks-main{
	display: grid;
	grid-template-columns: 15rem auto;
	grid-template-rows: 1fr;
	padding: 0;


}

v-wks-main > nav{
		background-color: var(--bkg-nav);
		display: flex;
		overflow: hidden;
	}

/* NOTE: this is a class selector as it will be added by the d-base-dialog base */

.d-base-dialog{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,.3);
}

.d-base-dialog .dialog{
		position: absolute;
		width: 25rem;
		top: 50%;
		left: 50%;
		margin-right: -10rem;
		margin-top: -10rem;
	}

spec-typo{
	/* grid-auto-flow: rows; */
	/* grid-template-columns: 1fr 1fr; */
	grid-template-rows: 1fr !important;

}

spec-typo .card section.content{
			/* overflow: scroll;
			 */
			display: grid;
			padding: 2rem 1rem 4rem 2rem;
			grid-gap: 3rem;
			grid-template-rows: repeat(auto-fit, auto);
		}

spec-controls{
	grid-template-rows: none !important;
	grid-template-columns: repeat(auto-fit, 30rem) !important;
}

spec-controls .card section{
		display: grid;
		grid-auto-rows: -webkit-max-content;
		grid-auto-rows: max-content;
		grid-row-gap: 2rem;
		overflow: auto;
	}

spec-cards {
	flex: 1;
	padding: 2rem;
	display: grid;
	
	/* border: solid 2px green; */
	grid-template-rows: repeat(auto-fit, 24rem);
	grid-template-columns: repeat(auto-fit, 20rem);
	grid-gap: 2em;
	grid-auto-flow: row dense;	
}

spec-cards .card.wide{
		grid-column: auto / span 2;
	}

spec-cards .card.tall{
		grid-row: auto / span 2;
	}

spec-buttons{
	grid-template-rows:minmax(auto, -webkit-min-content) !important;
	grid-template-rows:minmax(auto, min-content) !important;
}

spec-buttons .card section{
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
			overflow: scroll;
		}

spec-buttons .card section > h2{
				display: flex;
				align-items: flex-end;
				justify-content: left;
				padding: 1rem;
				border-bottom: solid 1px var(--bdr-L2);
			}

spec-buttons .card section > div{
				padding: 1rem 0;
			}

v-spec-main{
	flex: 1;
	margin: 2rem;
	display: grid;
	grid-template-rows: auto 2rem 1fr;
}

v-spec-main > section.content{
		grid-row: 3;
		display: flex;
		overflow: auto;
		
	}

v-spec-main > section.content > * { /* This is the demo view */
			flex: 1;
			padding: 2rem;
			display: grid;
			
			/* border: solid 2px green; */
			grid-template-rows: repeat(auto-fit, 24rem);
			grid-template-columns: repeat(auto-fit, 20rem);
			grid-gap: 2em;
			grid-auto-flow: row dense;	
		}

v-spec-main > section.content > * .card > section.horizontal {
				display: grid; 
				grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
				
			}

v-spec-main > section.content > * .card > section > section {
				margin-bottom: 1rem;
			}

v-spec-main > section.content > * .card > section > section h3{
					padding: 1rem 0;
				}

v-spec-main > section.content > * .card.wide{
				grid-column: auto / span 2;
			}

v-spec-main > section.content > * .card.tall{
				grid-row: auto / span 2;
			}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-check.pcss" /> */

c-check{
	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1;
}

c-check .ico-check-on {
		fill: var(--ico-prime);
	}

c-check svg.symbol{
		width: 100%;
		height: 100%;
	}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-ico-symbol.pcss" /> */

c-ico, c-symbol{
	/* making sure that parent don't change value case, which is used as asset name */
	text-transform: none; 
	padding: 0;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #aaa;
}

c-ico svg.symbol,c-symbol svg.symbol{
		width: 100%;
		height: 100%;
	}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-input.pcss" /> */

c-input{
	
	/* Component Styling Parameters */
	--bkg: none;
	/* /Component Styling Parameters */

	background: var(--bkg);
	border-bottom: solid 1px var(--bdr);
	position: relative;
	min-height: 3.25rem;
	display: grid;
	grid-template-rows: 1.25rem 1fr;
	align-items: stretch;	
}

c-input > label {
		grid-row: 1;
		grid-column: 1;
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: .875rem;
		letter-spacing: .08929em;
		line-height: 1;
		font-weight: 400;
		color: var(--txt);;
		display: flex;
		
	}

c-input > input{
		grid-row: 2;
		grid-column: 1;
		padding-left: .5rem;
		z-index: 10;
		background: none;
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;
		color: var(--txt-L0);
	}

c-input.no-label{
		grid-template-rows: 0 2rem; /* TODO: cstar */		
		min-height: 2rem;  /* TODO: cstar */
		height: 2rem;
	}

/* empty for now. no value, no place holder, no focused. Used when we want the label over input (but for now, simple, we don't) */

c-input.no-value:not([placeholder]):not(.focused){
	}

c-input.focused{
		border-bottom: solid 1px var(--bdr-prime);
	}

c-input.focused > label {
			grid-row: 1;
		}

c-input[disabled]{
		opacity: .5;
	}

c-input[readonly]{
		border-bottom: solid 1px var(--bdr-lighter);
	}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-menu.pcss" /> */

c-menu{
	position: absolute;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);;
	background: #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}

c-menu > * {
		padding: 1rem;
		cursor: pointer;
		color: var(--txt);

	}

c-menu > *:first-child{
			border-radius: 4px 4px 0 0;
		}

c-menu > *:last-child{
			border-radius: 0 0 4px 4px;
		}

c-menu > *:hover{
			background: var(--highlight);
		}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-options.pcss" /> */

c-options{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: -webkit-max-content;
	grid-auto-columns: max-content;
	min-height: auto;
	align-items: center;


}

c-options > div {
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;;
		height: 1rem;
		cursor: pointer;
		color: var(--txt-L3);
		padding: 0 1rem;
		border-right: solid 1px var(--bdr-L4);
	}

c-options > div.sel{
			color: var(--txt-prime);
			font-weight: 700;
		}

c-options > div:first-of-type{
		padding-left: 0;
	}

c-options > div:last-of-type{
		border-right: none;
	}

/* <origin src="https://raw.githubusercontent.com/BriteSnow/cloud-starter/master/frontends/web/src/web-components/c-select.pcss" /> */

c-select{
	display: block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
	line-height: 1;
	border-bottom: solid 1px var(--bdr);
	height: 3.25rem; 
	display: grid;
	grid-template-rows: 1.25rem 1fr;
	grid-template-columns: 1fr 2rem;
	align-items: stretch;
}

c-select label{
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: .875rem;
		letter-spacing: .08929em;
		line-height: 1;
		font-weight: 400;
		color: var(--txt);;
		grid-row: 1;
		grid-column: 1 / span 1;
	}

c-select div{
		grid-row: 2;
		grid-column: 1 / span 1;
		padding-left: .5rem;
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		text-transform: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		letter-spacing: .03125em;
		color: var(--txt-L0);;
		display: flex;
		align-items: center;		
	}

c-select c-ico{
		grid-column: 2;
		grid-row: 2 / 3;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		height: auto;
	}

c-select c-ico svg.symbol{
			width: 1rem;
			height: 1rem;
		}

c-select.no-label{
		height: 2rem;  /* TODO: cstar */
		grid-template-rows: 0 2rem; /* TODO: cstar */
	}

c-select[disabled]{
		opacity: .5;
	}

/* Note: on Chrome, if visibility hidden on c-ico, we get unwanted horizontal scroll bar */

c-select[readonly] c-ico svg{
			visibility: hidden;
		}

c-select[readonly]{
		border-bottom: solid 1px var(--bdr-lighter);
}

c-select.no-value > div {
			color: var(--txt-med);
		}

c-select-popup{
	position: absolute;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14),
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);;
	width: 8rem;
	/* height: 10rem; */
	background: #FFF;
	max-height: 15rem;
	overflow: auto;

}

c-select-popup li.none{
		color: red;
	}

c-select-popup ul, c-select-popup li{
		margin: 0;
		padding: 0;
		color: var(--txt);
	}

c-select-popup ul > li, c-select-popup ul > a{
			cursor: pointer;
			line-height: 1;
			padding: 1rem 1rem;

		}

c-select-popup ul > li.sel,c-select-popup ul > a.sel{
				font-weight: 600;
			}

c-select-popup ul > li:hover,c-select-popup ul > a:hover{
				background: var(--bkg-lighter);
			}

c-select-popup ul > li{
			list-style: none;
		}

/*# sourceMappingURL=all-bundle.css.map */